body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #161c28, #6c5b7b);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #262d3d;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #fff;
}

.container h1 {
    margin-bottom: 20px;
}

.container p {
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 70px);
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #f0f2f5; /* Lighter color */
    color: #333;
    text-align: center;
}

input[type="text"]:focus {
    border-color: #007bff;
}

button {
    padding: 10px 20px;
    background-color: #007bff; /* Blue color */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    background-color: #39455c;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.complete-btn {
    background-color: transparent;
    border: 2px solid #007bff;
    color: #007bff;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.complete-btn:hover {
    background-color: #007bff;
    color: #fff;
}

.completed {
    text-decoration: line-through;
    color: #777;
}
